.content-search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-search-page .team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 48px 32px;
  gap: 32px;
}

.content-search-page .filtering {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content-search-page .dropdown-default {
  position: relative;
}

.content-search-page .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dde1eb;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.content-search-page .text-wrapper-6 {
  color: #23262a;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
}
