.home-page {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .home-section-wrapper {
  width: 100%;
  max-width: 1440px; /* 최대 너비 설정 */
  overflow: hidden;
  height: auto; /* 높이 자동 조절 */
}

.home-page .home-section {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
  width: 100%;
  padding: 20px; /* 기본 패딩 추가 */
  height: auto; /* 높이 자동 조절 */
}

/* 미디어 쿼리: 태블릿 및 모바일 */
@media (max-width: 768px) {
  .home-page .home-section {
    gap: 32px; /* 작은 화면에서 간격 줄이기 */
    padding: 15px; /* 작은 화면에서 패딩 조정 */
  }
}

/* 미디어 쿼리: 모바일 */
@media (max-width: 480px) {
  .home-page .home-section {
    gap: 20px; /* 더 작은 화면에서 간격 더 줄이기 */
    padding: 10px; /* 더 작은 화면에서 패딩 조정 */
  }
}
.unified-creator-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}
