.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.nickname {
  font-size: 40px;
  font-weight: 400;
  color: #292929;
}

.bio {
  font-size: 20px;
  font-weight: 300;
  color: #64748b;
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: 50px;
  overflow: hidden; /* 넘치는 글자 숨기기 */
  word-wrap: break-word; /* 단어가 너무 길면 줄바꿈 */
  white-space: normal; /* 줄바꿈 허용 */
}

.divider {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #e0e0e0;
}
