.creator-list-section-wrapper {
  display: block; /* 또는 flex-direction을 제거하고 display: grid;로 변경 */
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.no-search-result {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  text-align: center;
  padding: 100px 0;
  height: 300px; /* 또는 min-height: 50vh; */
  width: 100%;
   /* 가운데 정렬을 위한 flex 설정 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 부모 영역에 높이 확보 */
  min-height: 300px;
}